*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    width: 100%;
    max-width: 1155px ;
    margin: 0 auto;
}

button{
    border: none;
}

ul,
ol{
list-style: none;
}

a{
    text-decoration: none;
}