/* header  */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 10px;
}

.header_wrapper{
    display: flex;
    gap: 221px;
    justify-content: center;
    align-items: center;
}

.header_logo{
    width: 170px;
height: 90px;
}

.header_ul{
    display: flex;
    margin-left: 54px;
    align-items: center;
    gap: 53px;
    color: rgb(2, 18, 6);
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}


.buttons{
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
}


.header_title{
    color: rgb(2, 18, 6);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
}

.header_btn{
    width: 129px;
height: 57px;
border-radius: 6px;
background: rgb(244, 69, 69);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
}


/* hero  */

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_wrapper{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.hero_content{
    margin-left: 3%;
}

.hero_title{
    width: 487px;
height: 150px;
color: rgb(2, 18, 6);
    font-family: "Poppins", sans-serif;
font-size: 54px;
font-weight: 600;
line-height: 81px;
}

.hero_title span {
color:rgb(62, 255, 192) ;
}

.hero_subtitle{
    width: 509px;
height: 68px;
margin-top: 25px;
color: rgb(2, 18, 6);
font-family: "Poppins" , sans-serif;
font-size: 21px;
font-weight: 500;
line-height: 160%;
opacity: 0.7;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
    margin-right: 10%;
    box-shadow: 0px 15px 25px gray;
}

.hero_input{
    width: 472px;
height: 65px;
border-radius: 6px;
background: rgb(255, 255, 255);
color: rgb(2, 18, 6);
font-family: "Poppins" , sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
padding: 19px;
border: none;
}

.hero_btn{
    width: 120px;
    height: 53px;
    border-radius: 6px;
background: rgb(244, 69, 69);
color: rgb(255, 255, 255);
font-family: "Poppins" , sans-serif;
font-size: 21px;
font-weight: 500;
line-height: 32px;
position: absolute;
right: 1%;
}

.google{
    width: 305.99px;
height: 30.02px;
margin-top: 36px;
}

.laptop{
    width: 746.63px;
height: 440.87px;
}

/* google  */

.google_logotips{
    width: 100%;
    height: 163px;
    margin-top: 110px;
    background: rgb(145, 203, 183);
display: flex;
justify-content: center;
align-items: center;
}

.google_wrapper{
    display: flex;
    gap: 85px;
    justify-content: center;
    align-items: center;
}

.google_logo{
    width: 170px;
height: 57px;
}

.avast{
    width: 170px;
height: 54px;
}

.ebay{
    width: 126px;
height: 53px;
}

.paypal{
    width: 170px;
height: 43px;
}

.hubspot{
    width: 170px;
height: 48.9px;
}



